Navbar{
    /*margin: 10px;*/
    /*border: 1px solid #222;*/


}
.header{
    width: 100%;
    background: #000000;
    height: 70px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    /*border-bottom: 1px solid #1191d0;*/
    /*border-color: #1191d0;*/
    /*tab-size: 100px;*/
}
.link{
    /*width: 10%;*/
    outline: none;
    border: 1px;
    float: right;
    background: #ffffff;

    display: flex;
    justify-content: space-between;
    align-items: center;
}




